
body {
  background: url('/background_robot.jpg') no-repeat right;
  background-size: cover;
}

.transparent {
  background-color: rgba(255, 255, 255, 0.85);
  border: solid 1px grey;
}

h1 {
  text-align: center;
}

.wrapper {
  width: 50%;
  margin: 20px auto;
}

.delete-form {
  display: inline-block;
}

.home-robot {
  position: absolute;
  top: 25px;
  left: 30px;
}

@media screen and (max-width: 450px) {
  .wrapper {
    width: 95%;
  }
}
