<h1>My Robots</h1>

<div class="wrapper">
  <div class="list-group">
    <% @robots.each do |robot| %>
      <a href="/robots/<%= robot.id %>" class="text-center list-group-item"><%= robot.name %></a>
    <% end %>
  </div>
  <div class="list-group">
    <a href="/robots/new" class="text-center list-group-item active">Create New Robot</a>
  </div>
</div>




