<h1>Make a new robot</h1>

<div class="wrapper">
  <form method="POST" action="/robots">
    <div class="form-group">
      <input class="form-control" name="robot[name]" type="text" placeholder="Name"/>
    </div>
    <div class="form-group">
      <input class="form-control" name="robot[city]" type="text" placeholder="City"/>
    </div>
    <div class="form-group">
      <input class="form-control" name="robot[state]" type="text" placeholder="State"/>
    </div>
    <div class="form-group">
      <input class="form-control" name="robot[department]" type="text" placeholder="Department" />
    </div>
    <input class="form-control btn btn-primary" type="submit" value="Make Robot" />
    <a href="/robots" class="form-control btn btn-danger">Cancel</a>
  </form>
</div>
